<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Rules for VerbalExpressions" Description="Code analysis rules for VerbalExpressions.csproj." ToolsVersion="14.0">
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1001" Action="Warning" />
    <Rule Id="CA1009" Action="Warning" />
    <Rule Id="CA1016" Action="Warning" />
    <Rule Id="CA1033" Action="Warning" />
    <Rule Id="CA1049" Action="Warning" />
    <Rule Id="CA1060" Action="Warning" />
    <Rule Id="CA1061" Action="Warning" />
    <Rule Id="CA1063" Action="Warning" />
    <Rule Id="CA1065" Action="Warning" />
    <Rule Id="CA1301" Action="Warning" />
    <Rule Id="CA1400" Action="Warning" />
    <Rule Id="CA1401" Action="Warning" />
    <Rule Id="CA1403" Action="Warning" />
    <Rule Id="CA1404" Action="Warning" />
    <Rule Id="CA1405" Action="Warning" />
    <Rule Id="CA1410" Action="Warning" />
    <Rule Id="CA1415" Action="Warning" />
    <Rule Id="CA1821" Action="Warning" />
    <Rule Id="CA1900" Action="Warning" />
    <Rule Id="CA1901" Action="Warning" />
    <Rule Id="CA2002" Action="Warning" />
    <Rule Id="CA2100" Action="Warning" />
    <Rule Id="CA2101" Action="Warning" />
    <Rule Id="CA2108" Action="Warning" />
    <Rule Id="CA2111" Action="Warning" />
    <Rule Id="CA2112" Action="Warning" />
    <Rule Id="CA2114" Action="Warning" />
    <Rule Id="CA2116" Action="Warning" />
    <Rule Id="CA2117" Action="Warning" />
    <Rule Id="CA2122" Action="Warning" />
    <Rule Id="CA2123" Action="Warning" />
    <Rule Id="CA2124" Action="Warning" />
    <Rule Id="CA2126" Action="Warning" />
    <Rule Id="CA2131" Action="Warning" />
    <Rule Id="CA2132" Action="Warning" />
    <Rule Id="CA2133" Action="Warning" />
    <Rule Id="CA2134" Action="Warning" />
    <Rule Id="CA2137" Action="Warning" />
    <Rule Id="CA2138" Action="Warning" />
    <Rule Id="CA2140" Action="Warning" />
    <Rule Id="CA2141" Action="Warning" />
    <Rule Id="CA2146" Action="Warning" />
    <Rule Id="CA2147" Action="Warning" />
    <Rule Id="CA2149" Action="Warning" />
    <Rule Id="CA2200" Action="Warning" />
    <Rule Id="CA2202" Action="Warning" />
    <Rule Id="CA2207" Action="Warning" />
    <Rule Id="CA2212" Action="Warning" />
    <Rule Id="CA2213" Action="Warning" />
    <Rule Id="CA2214" Action="Warning" />
    <Rule Id="CA2216" Action="Warning" />
    <Rule Id="CA2220" Action="Warning" />
    <Rule Id="CA2229" Action="Warning" />
    <Rule Id="CA2231" Action="Warning" />
    <Rule Id="CA2232" Action="Warning" />
    <Rule Id="CA2235" Action="Warning" />
    <Rule Id="CA2236" Action="Warning" />
    <Rule Id="CA2237" Action="Warning" />
    <Rule Id="CA2238" Action="Warning" />
    <Rule Id="CA2240" Action="Warning" />
    <Rule Id="CA2241" Action="Warning" />
    <Rule Id="CA2242" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="SonarAnalyzer.CSharp" RuleNamespace="SonarAnalyzer.CSharp">
    <Rule Id="S100" Action="Warning" />
    <Rule Id="S103" Action="Warning" />
    <Rule Id="S104" Action="Warning" />
    <Rule Id="S105" Action="Warning" />
    <Rule Id="S1067" Action="Warning" />
    <Rule Id="S107" Action="Warning" />
    <Rule Id="S1109" Action="Warning" />
    <Rule Id="S1116" Action="Warning" />
    <Rule Id="S1125" Action="Warning" />
    <Rule Id="S1135" Action="Warning" />
    <Rule Id="S1144" Action="Warning" />
    <Rule Id="S1185" Action="Warning" />
    <Rule Id="S121" Action="Warning" />
    <Rule Id="S122" Action="Warning" />
    <Rule Id="S1226" Action="Warning" />
    <Rule Id="S1227" Action="Warning" />
    <Rule Id="S126" Action="Warning" />
    <Rule Id="S127" Action="Warning" />
    <Rule Id="S1301" Action="Warning" />
    <Rule Id="S1309" Action="Warning" />
    <Rule Id="S131" Action="Warning" />
    <Rule Id="S1313" Action="Warning" />
    <Rule Id="S134" Action="Warning" />
    <Rule Id="S1450" Action="Warning" />
    <Rule Id="S1451" Action="Warning" />
    <Rule Id="S1479" Action="Warning" />
    <Rule Id="S1541" Action="Warning" />
    <Rule Id="S1659" Action="Warning" />
    <Rule Id="S1694" Action="Warning" />
    <Rule Id="S1697" Action="Warning" />
    <Rule Id="S1858" Action="Warning" />
    <Rule Id="S1905" Action="Warning" />
    <Rule Id="S1939" Action="Warning" />
    <Rule Id="S1994" Action="Warning" />
    <Rule Id="S2070" Action="Warning" />
    <Rule Id="S2156" Action="Warning" />
    <Rule Id="S2197" Action="Warning" />
    <Rule Id="S2228" Action="Warning" />
    <Rule Id="S2325" Action="Warning" />
    <Rule Id="S2330" Action="Warning" />
    <Rule Id="S2333" Action="Warning" />
    <Rule Id="S2339" Action="Warning" />
    <Rule Id="S2357" Action="Warning" />
    <Rule Id="S2360" Action="Warning" />
    <Rule Id="S2387" Action="Warning" />
    <Rule Id="S2551" Action="Warning" />
    <Rule Id="S2674" Action="Warning" />
    <Rule Id="S2737" Action="Warning" />
    <Rule Id="S2760" Action="Warning" />
    <Rule Id="S2931" Action="Warning" />
    <Rule Id="S2952" Action="Warning" />
    <Rule Id="S2955" Action="Warning" />
    <Rule Id="S3052" Action="Warning" />
    <Rule Id="S3215" Action="Warning" />
    <Rule Id="S3216" Action="Warning" />
    <Rule Id="S3234" Action="Warning" />
    <Rule Id="S3235" Action="Warning" />
    <Rule Id="S3240" Action="Warning" />
    <Rule Id="S3251" Action="Warning" />
    <Rule Id="S3253" Action="Warning" />
    <Rule Id="S3254" Action="Warning" />
    <Rule Id="S3257" Action="Warning" />
    <Rule Id="S3261" Action="Warning" />
    <Rule Id="S3441" Action="Warning" />
    <Rule Id="S3458" Action="Warning" />
    <Rule Id="S3532" Action="Warning" />
    <Rule Id="S3604" Action="Warning" />
    <Rule Id="S3626" Action="Warning" />
    <Rule Id="S3872" Action="Warning" />
    <Rule Id="S3874" Action="Warning" />
    <Rule Id="S3876" Action="Warning" />
    <Rule Id="S3880" Action="Warning" />
    <Rule Id="S3898" Action="Warning" />
    <Rule Id="S3902" Action="Warning" />
    <Rule Id="S818" Action="Warning" />
  </Rules>
</RuleSet>